.aboutWrapper{
    padding: 20px 20px;
}
.aboutTitle{
    font-size: 32px;
    padding-bottom: 20px;
    color: #7e7b7b;
}
.aboutDescription{
    font-size: 20px;
    color: #7e7b7b;
}
.aboutDetails{
    font-size: 20px;
    line-height: 36px;
}

/*Media Queries*/
@media screen and (min-width: 701px) {
    .aboutWrapper{
        padding: 60px 60px;
    }
    .aboutTitle{
        font-size: 40px;
        padding-bottom: 20px;
        color: #7e7b7b;
    }
    .aboutDescription{
        font-size: 24px;
        color: #7e7b7b;
    }
    .aboutDetails{
        font-size: 24px;
        line-height: 36px;
    }
}
@media screen and (min-width: 1025px) {
    .aboutWrapper{
        padding: 100px 100px;
    }
    .aboutTitle{
        font-size: 48px;
        padding-bottom: 20px;
        color: #7e7b7b;
    }
    .aboutDescription{
        font-size: 28px;
        color: #7e7b7b;
    }
    .aboutDetails{
        font-size: 28px;
        line-height: 36px;
    }
}