.aboutWrapper{
    padding: 20px 20px;
}
.aboutTitle{
    font-size: 32px;
    color: #1d1c1c;
    padding-bottom: 20px;
}
.aboutDescription{
    font-size: 20px;
}
.aboutDetails{
    font-size: 20px;
    line-height: 36px;
}