.signUpPage-wrapper_form {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}
.signUpPage-form_input,
.signUpPage-btn {
  margin-top: 10px;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 18px;
}
.signUpPage-btn {
  color: rgb(66, 167, 66);
  background-color: #cccccc;
  font-weight: 800;
  cursor: pointer;
  margin: 20px 0;
  border: 0;
}
.signUpPage-btn:hover {
  color: green;
}

/*Media Queries*/
@media screen and (min-width: 701px) {
  .signUpPage-wrapper_form {
    padding: 50px 100px;
  }
  .signUpPage-form_input,
  .signUpPage-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
  }
  .signUpPage-btn {
    color: #ffffff;
    background-color: rgb(66, 167, 66);
    margin: 20px 50px;
  }
  .signUpPage-btn:hover {
    background-color: green;
    color: #ffffff;
  }
  .signUpPage-wrapper_form small {
    margin: 5px 50px;
  }
}
@media screen and (min-width: 1025px) {
  .signUpPage-wrapper_form {
    padding: 100px 250px;
  }
}
