.usersWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  line-height: 32px;
  margin: 50px 0;
}
.usersDataCondition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.usersTitle {
  font-size: 1.7rem;
  margin: 20px 0;
  color: #555555;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 4px 2px #111111;
}
.usersList {
  margin-top: 10px;
  box-shadow: 0.3px 1px 2px #111111;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #ffe1bc;
}
.usersList-details {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0.3px 1px 2px #111111;
  padding: 10px 20px;
  border-radius: 5px;
}
.usersList button {
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
  font-weight: 600;
  border: 2px solid #555555;
  border-radius: 5px;
  color: #555555;
}
.prev {
  border: 0;
  border-radius: 5px;
}
.next {
  border: 0;
  border-radius: 5px;
}
.displayUsers-details_div {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.displayUsers-details_btn {
  padding: 10px 20px;
  margin: 5% 0;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  background-color: #555555;
}
#displayUsers-details_btn{
  margin-top: 20px;
  padding: 10px 20px;
  margin: 5% 0;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  background-color: #555555;
}
@media screen and (min-width: 769px) {
  .usersWrapper {
    padding: 40px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .usersList {
    margin-top: 0;
  }
  .usersList-details {
    margin: 0;
  }
  .usersList button {
    margin: 0;
  }
  .displayUsers-details_div {
    margin-top: 0;
  }
  .displayUsers-details_btn {
    margin: 35px 10px;
  }
}
    