.userWrapper{
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 50px 10px;
    box-shadow: 0.3px 1px 2px #111111;
}
.userTitle {
  text-align: center;
  font-size: 1.7rem;
  margin: 20px 0;
  color: #555555;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px #111111;
  padding: 10px 20px;
  border-radius: 5px;
}
.userFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  line-height: 24px;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 5px 7px 10px #111111;
  animation-name: flex;
  animation-duration: 1s;
}
@keyframes flex {
  0% {
    margin-top: -600px;
    margin-right: -600px;
    rotate: 10deg;
  }
  100% {
    margin-top: 0;
    transition: all 0.5s;
    margin-right: 0;
    rotate: 20deg;
  }
}
.userFlex > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 1rem 0;
  margin-right: 20px;
}
.userDiv > p {
  color: #a19f9d;
}
.userLabels {
  font-weight: 600;
  color: #323131;
}

@media screen and (min-width: 769px) {
  .userFlex {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 1rem 0;
    line-height: 24px;
    margin-top: 30px;
    background-color: #ffe1bc;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 5px 7px 10px #cccccc;
  }
  .userFlex > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    margin-right: 20px;
  }
}
